/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  scroll-behavior: smooth;
}

.container{
  max-width: 1112px;
  width: 100%;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  
}
.splide__arrow--next {
  right: -100px !important;
}

.splide__arrow--prev {
  left: -100px  !important;
}

@media (max-width: 1300px) { 
  .splide__arrow--next {
    right: 0px !important;
  }
  
  .splide__arrow--prev {
    left: 0px  !important;
  }
}

.button-footer {
  @apply inline-block text-gray-700 mb-4 px-[20px] hover:underline decoration-2 decoration-gray-700 underline-offset-2
}

.form-bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("../public/images/form/form.png") ;
  background-attachment: fixed;
}

input{
  border: 1px black solid;
  padding: 5px 0 5px 15px ;
  border-radius: 10px;
  width: 100%;
}

textarea{
  border: 1px black solid;
  padding: 5px 0 5px 15px ;
  border-radius: 10px;
  width: 100%;
}

.wrapper{
  margin: 0px auto;
  width: 250px;
  position: relative;
  color:white;
  text-align: center;
  height: 40px;
  font-family: Arial;
}

#check-menu{
  display: none;
}

#check-menu-id{
  display:block;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}

.burder-line{
  position: absolute;
  top: 8px;
  right: 10px;
  height: 2px;
  width: 35px;
  background-color: #fff;
  transition: .5s;
}

.second, .third{
  top:18px;
}

.fourth{
  top:28px;
}

.main-menu{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: .5s;
}

.show-burger-menu{
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-top: 1px solid rgb(255, 255, 255, .3); 
  background-color:#6B6B6B;
}

#check-menu:checked ~ .main-menu{
  max-height: 500px;
  font-size: 16px;
}


#check-menu:checked ~ .first{
  display: none;
}

#check-menu:checked ~ .second{
  transform: rotate(45deg);
}
#check-menu:checked ~ .third{
  transform: rotate(-45deg);
}
#check-menu:checked ~ .fourth{
  display: none;
} 

.burger{
  @apply relative h-[15px] w-6 
}

.burger::after{
  width: 100%;
  height: 1.5px;
  content: "";
  background-color: white;
  transition: ease .3s;
  position: absolute;
  top:0;
  left:0;
}

.burger::before{
  width: 100%;
  height: 1.5px;
  content: "";
  background-color: white;
  transition: ease .3s;
  position: absolute;
  bottom:0;
  left:0;
}

.burger span{
  width: 100%;
  height: 1.5px;
  background-color: white;
  transition: ease .3s;
  position: absolute;
  top:50%;
  left:0;
  margin-top: -0.75px;
}

.burger.active{
  /* height: 24px; */
}

.burger.active::after{
  transform: rotate(45deg);
  top: 50%
}

.burger.active::before{
  transform: rotate(-45deg);
  top: 50%
}

.burger.active span{
  opacity: 0;
}

.header-burger-modal{
  height: calc(100vh - 72px);
}

.modal{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #fff;
  width: 500px;
  max-width: 80%;

}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title{
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
   
}

.overlay{
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, .5);
  pointer-events: none;
}

.overlay.active{
  opacity: 1;
  pointer-events: all;
   
}

.fontTitle{
  font-family: 'Raleway', sans-serif;
}